[submodule "libs/cmark"]
	path = libs/cmark
	url = https://github.com/commonmark/cmark.git
[submodule "libs/harfbuzz"]
	path = libs/harfbuzz
	url = https://github.com/harfbuzz/harfbuzz.git
[submodule "libs/freetype"]
	path = libs/freetype
	url = https://gitlab.freedesktop.org/freetype/freetype.git
[submodule "libs/zlib"]
	path = libs/zlib
	url = https://github.com/madler/zlib.git
[submodule "libs/miniaudio"]
	path = libs/miniaudio
	url = https://github.com/mackron/miniaudio.git
[submodule "libs/lua"]
	path = libs/lua
	url = https://github.com/lua/lua.git
[submodule "libs/plutovg"]
	path = libs/plutovg
	url = https://github.com/sammycage/plutovg.git
